<div class="hero-unit">
<h1>Welcome to the real Deal!</h1>
    <p>
    Welcome to my sweet site:<br>
    You've met your match.
    <%= link_to "Sweetness", "http://www.raeandspencer.com"%>
    </p>
  <p>
    <%= link_to "Sign up Now!","#", class: "btn btn-primary btn-large"%>
  </p>
</div>